name: Unit Ontology Comparison
on: workflow_dispatch

jobs:
  compare:
    runs-on: ubuntu-latest
    container: ghcr.io/fusion-jena/abecto:v3.1.4
    steps:
      - name: Checkout Project
        uses: actions/checkout@v4
      - name: Run ABECTO Unit Ontology Comparison and Store Results
        run: |
          abecto \
            --trig unit-ontology-comparison-result.trig \
            --export deviations=unit-ontology-comparison-deviations.csv \
            --export measurementsMarkdown=unit-ontology-comparison-measurements.md \
            unit-ontology-comparison.trig
      - name: Archive Comparison Results
        uses: actions/upload-artifact@v4
        with:
          name: Comparison Results
          path: unit-ontology-comparison-*
      - name: Generate OM-only deviations report
        run: abecto --loadOnly --reportOn "http://www.ontology-of-units-of-measure.org/resource/om-2/" --export deviations=unit-ontology-comparison-deviations-om2.csv unit-ontology-comparison-result.trig
      - name: Archive OM-only deviations report
        uses: actions/upload-artifact@v4
        with:
          name: OM-only deviations report
          path: unit-ontology-comparison-deviations-om2.csv
      - name: Generate QUDT-only deviations report
        run: abecto --loadOnly --reportOn "http://qudt.org/" --export deviations=unit-ontology-comparison-deviations-qudt.csv unit-ontology-comparison-result.trig
      - name: Archive QUDT-only deviations report
        uses: actions/upload-artifact@v4
        with:
          name: QUDT-only deviations report
          path: unit-ontology-comparison-deviations-qudt.csv
      - name: Generate SWEET-only deviations report
        run: abecto --loadOnly --reportOn "http://sweetontology.net/" --export deviations=unit-ontology-comparison-deviations-sweet.csv unit-ontology-comparison-result.trig
      - name: Archive SWEET-only deviations report
        uses: actions/upload-artifact@v4
        with:
          name: SWEET-only deviations report
          path: unit-ontology-comparison-deviations-sweet.csv
      - name: Generate Wikidata Mismatch Finder report
        run: abecto --loadOnly --export wdMismatchFinder=unit-ontology-comparison-wdMismatchFinder.csv unit-ontology-comparison-result.trig
      - name: Archive Wikidata Mismatch Finder report
        uses: actions/upload-artifact@v4
        with:
          name: Wikidata Mismatch Finder report
          path: unit-ontology-comparison-wdMismatchFinder.csv
